<div class="col-md-8 col-md-offset-2" ng-controller="AddAdminController">
    <div class="panel panel-default" align="center">
        <div class="panel-heading" align="left">Add a new admin</div>
        <div class="panel panel-body">
            <form name="addAdmin" ng-submit="submitNewAdmin()">
                <div class="row">
                    <div class="col-md-6 col-sm-offset-3">
                        <input class="form-control" type="text" ng-model="username" placeholder="Username" required ng-maxlength="40" ng-minlength="2">
                    </div>
                    <div class="col-md-2">
                        <div class="center-block" align="left">
                            <i class="glyphicon glyphicon-user"></i> Username
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-sm-offset-3">
                        <input class="form-control" type="password" ng-model="password" placeholder="Password" required ng-maxlength="80" ng-minlength="5">
                    </div>
                    <div class="col-md-2" align="left">
                        <div class="center-block">
                            <i class="glyphicon glyphicon-sunglasses"></i> Password
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-sm-offset-3">
                        <select class="form-control" ng-model="role" ng-init="role='user'" ng-options="role for role in roles"></select>
                    </div>
                    <div class="col-lg-2" align="left">
                        <div class="center-block ng-hide" ng-show="role === 'admin'">
                            <i class="glyphicon glyphicon-queen"></i> Select Roll
                        </div>
                        <div class="center-block ng-hide" ng-show="role === 'user'">
                            <i class="glyphicon glyphicon-pawn"></i> Select Roll
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12" align="center">
                        <button class="btn btn-primary" type="submit" ng-disabled="addAdmin.$invalid">Save new Admin</button>
                        <button class="btn btn-primary" type="button" ng-click="navigateToAdmins()">Cancel Request</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>