<div class="col-md-8 col-md-offset-2" ng-controller="EditAdminController">
    <div class="panel panel-default" align="center">
        <div class="panel-heading" align="left">Edit Admin: {{admin.username}}</div>
        <div class="panel panel-body" align="left">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="text" class="form-control" name="username" ng-model="admin.username" ng-maxlength="40" required ng-disabled="true">
                </div>
                <div class="col-md-2">
                    <div class="center-block">
                        <i class="glyphicon glyphicon-user"></i> Username
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-offset-3" align="left">
                    <input type="password" class="form-control" name="password" ng-model="viewPassword" ng-maxlength="30" ng-minlength="5">
                </div>
                <div class="col-md-2">
                    <div class="center-block">
                        <i class="glyphicon glyphicon-sunglasses"></i> Password
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-offset-3" align="left">
                    <select ng-init="admin.enabled=setEnabledDisabled()" ng-model="admin.enabled" class="form-control">
                        <option value="true">enabled</option>
                        <option value="false">disabled</option>
                    </select>
                </div>
                <div class="col-lg-2" align="left">
                    <div class="center-block ng-hide" ng-show="admin.enabled === 'true'">
                        <i class="glyphicon glyphicon-thumbs-down"></i> Disable
                    </div>
                    <div class="center-block ng-hide" ng-show="admin.enabled === 'false'">
                        <i class="glyphicon glyphicon-thumbs-up"></i> Enable
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-offset-3" align="left">
                    <div>
                        <select  ng-init="admin.role=admin.role" ng-model="admin.role" class="form-control">
                            <option value="user">user</option>
                            <option value="admin">admin</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2" align="left">
                    <div class="center-block ng-hide" ng-show="admin.role === 'admin'">
                        <i class="glyphicon glyphicon-queen"></i> Select Roll
                    </div>
                    <div class="center-block ng-hide" ng-show="admin.role === 'user'">
                        <i class="glyphicon glyphicon-pawn"></i> Select Roll
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-12" align="center">
                <button type="submit" class="btn btn-primary" ng-click="submitEditedAdmin()" ng-disabled="editEmployee.$invalid">Save Admin</button>
                <button type="submit" class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
            </div>
        </div>
    </div>
</div>