<div class="col-md-8 col-md-offset-2" ng-controller="AdminController" ng-if="adminsLoaded">
    <div class="panel panel-default" align="center">
        <div class="panel-heading" align="left">Listing all Admins</div>
        <div class="panel panel-body">
            <div ng-repeat="admin in admins">
                <div class="row">
                    <div class="col-md-6" align="left">
                        <div class="col-lg-3" align="left">
                            <i class="glyphicon glyphicon-user"></i> Name:
                        </div>
                        <p>{{admin.username}}</p>

                        <div class="col-lg-3" align="left" ng-show="admin.role === 'admin'">
                            <i class="glyphicon glyphicon-queen"></i> Role:
                        </div>

                        <div class="col-lg-3" align="left" ng-show="admin.role === 'user'">
                            <i class="glyphicon glyphicon-pawn"></i> Role:
                        </div>
                        <p>{{admin.role}}</p>

                        <div class="col-lg-3" align="left" ng-show="admin.enabled === true">
                            <i class="glyphicon glyphicon-thumbs-up"></i> Enabled
                        </div>
                        <div class="col-lg-3" align="left" ng-show="admin.enabled === false">
                            <i class="glyphicon glyphicon-thumbs-down"></i> Enabled
                        </div>
                        <p ng-show="admin.enabled === true">Yes</p>
                        <p ng-show="admin.enabled === false">No</p>
                    </div>
                    <div class="col-md-6 padding-top-admin" align="right">
                        <button type="button" class="btn btn-default" ng-click="navigateToEdit(admin)">Edit Admin</button>
                    </div>
                </div>
                <div align="left" class="row">
                    <div class="col-md-6">
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>