<div class="col-md-8 col-md-offset-2" ng-controller="EmployeeController">
    <div class="panel panel-default">
        <div class="panel-heading" align="left">Add a new employee {{employee.name}}</div>
        <div class="panel-body">
            <form name="addEmployee" class="form-horizontal" ng-submit="submitNewEmployee()">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="text" class="form-control" name="name" ng-model="name" ng-maxlength="40" placeholder="Name" required>
                    </div>
                    <div class="col-lg-2" align="left">
                        <i class="glyphicon glyphicon-user"></i> Name
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input class="form-control" type="number" name="salary" ng-model="salary" ng-value="employee.salary" placeholder="Salary" ng-maxlength="40" required>
                    </div>
                    <div class="col-lg-2" align="left">
                        <i class="glyphicon glyphicon-usd"></i> Salary
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input class="form-control" type="text" name="position" ng-value="employee.position" ng-model="position" ng-maxlength="40" placeholder="Position"  required>
                    </div>
                    <div class="col-lg-2" align="left">
                        <i class="glyphicon glyphicon-briefcase"></i> Position
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input class="form-control" type="email" name="login" ng-model="login" ng-maxlength="40" ng-value="employee.login" placeholder="some.user@metropolis.org"  required>
                    </div>
                    <div class="col-lg-2" align="left">
                        <i class="glyphicon glyphicon-thumbs-up"></i> Login/Email
                    </div>
                </div>
                <br>
                <div class="row" align="center">
                    <p>Select an avatar</p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3" align="center">
                        <img ng-src="{{firstAvatar}}" ng-click="toggle(firstAvatar)" ng-class="fistImgEnable && 'img-thumbnail image-selected' || !fistImgEnable && 'img-thumbnail image-hover'">
                        <img ng-src="{{secondAvatar}}" ng-click="toggle(secondAvatar)" ng-class="secondImgEnable && 'img-thumbnail image-selected' || !secondImgEnable && 'img-thumbnail image-hover'">
                    </div>
                </div>
                <br>
                <div class="col-md-12" align="center">
                    <button type="submit" class="btn btn-primary" ng-disabled="(!validateForm() || addEmployee.$invalid) ? true:false">Save Account</button>
                    <button type="submit" class="btn btn-primary" ng-click="resetFields()">Reset Fields</button>
                </div>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>