<div class="col-md-8 col-md-offset-2" ng-controller="EditEmployeeController">
    <div class="panel panel-default">
        <div class="panel-heading" align="left">Edit Existing Employee</div>
        <div class="panel-body">
            <form name="editEmployee" class="form-horizontal" ng-submit="submitEditedEmployee()">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="text" class="form-control" name="name" ng-model="employee.name" value="{{employee.name}}" ng-maxlength="40" required>
                    </div>
                    <div class="col-lg-2" align="left">
                        <i class="glyphicon glyphicon-user"></i> Name
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input class="form-control" type="number" name="salary" ng-model="employee.salary" value="{{employee.salary}}" placeholder="Salary" ng-maxlength="40" required>
                    </div>
                    <div class="col-lg-2" align="left">
                        <i class="glyphicon glyphicon-usd"></i> Salary
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input class="form-control" type="text" name="position" ng-model="employee.position" value="{{employee.position}}" ng-maxlength="40" placeholder="Position"  required>
                    </div>
                    <div class="col-lg-2" align="left">
                        <i class="glyphicon glyphicon-briefcase"></i> Position
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input class="form-control" type="email" name="login" ng-model="employee.login" value="{{employee.login}}" ng-maxlength="40" placeholder="some.user@metropolis.org"  required>
                    </div>
                    <div class="col-lg-2" align="left">
                        <i class="glyphicon glyphicon-thumbs-up"></i> Login/Email
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div align="center">
                            <img src={{employee.avatar}} class="img-thumbnail">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12" align="center">
                    <button type="submit" class="btn btn-primary" ng-click="submitEditedEmployee()" ng-disabled="editEmployee.$invalid">Save Account</button>
                    <button type="submit" class="btn btn-primary" ng-click="cancelEmpEdit()">Cancel Edit</button>
                </div>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>