<div class="col-md-8 col-md-offset-2" ng-controller="EmployeeController" ng-if="employeeDataLoaded">
    <div class="panel panel-default" align="center">
        <div class="panel-heading" align="left">
            <div class="row">
                <div class="col-md-2">Employee Listing</div>
                <div class="col-md-4 col-md-offset-6" align="right">
                    <input type="text" class="form-control" ng-model="filter" placeholder="filter">
                </div>
            </div>
            </div>
        <div class="panel panel-body">
            <div ng-show="!(filteredEmployees | toArray | filter:filter).length && filter.length > 0" class="ng-hide">
                <h3>Nothing filtered for: <b>{{filter}}</b></h3>
            </div>
            <div ng-if="employees.length === 0">
                <h3>Currently there are no employees available for listing</h3>
            </div>
            <div ng-repeat="employee in filteredEmployees | toArray | filter: filter">
                <div class="row">
                    <div class="col-md-5" align="left">
                        <div class="col-lg-3" align="left">
                            <i class="glyphicon glyphicon-tags"></i><b> ID:</b>
                        </div>
                        <p>{{employee.id}}</p>
                        <div class="col-lg-3" align="left">
                            <i class="glyphicon glyphicon-user"></i><b> Name:</b>
                        </div>
                        <p>{{employee.name}}</p>
                        <div class="col-lg-3" align="left">
                            <i class="glyphicon glyphicon-usd"></i><b> Salary:</b>
                        </div>
                        <p>{{employee.salary}}</p>
                        <div class="col-lg-3" align="left">
                            <i class="glyphicon glyphicon-briefcase"></i><b> Position:</b>
                        </div>
                        <p>{{employee.position}}</p>
                        <div class="col-lg-3" align="left">
                            <i class="glyphicon glyphicon-thumbs-up"></i><b> Login</b>
                        </div>
                        <p>{{employee.login}}</p>
                    </div>
                    <div class="col-md-2" align="left">
                        <img src={{employee.avatar}} class="img-thumbnail">
                    </div>
                    <div class="col-md-5" align="right">
                        <button type="button" class="btn btn-default" ng-click="removeEmployee(employee.id)">Delete Record</button>
                        <button type="button" class="btn btn-default" ng-click="navigateToEdit(employee)">Edit Record</button>
                    </div>
                    <br>
                </div>
                <br>
                <br>
            </div>
            <div align="right" ng-show="!filter.length" class="ng-hide">
                <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="{{itemsPerPage}}" ng-change="pageChanged()"></uib-pagination>
            </div>
        </div>
    </div>
</div>