<div class="row" align="center" ng-init="getUserDetails()">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading" align="left">
                <div class="row">
                    <div class="col-sm-1">
                        Home
                    </div>
                    <div class="col-sm-2 col-lg-offset-9" align="right">
                        Login: <b>{{userDetails.username}}</b>
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
               <div>
                   <div class="row">
                       <div class="col-lg-6 col-lg-offset-3">
                           <h4>Company employee administration application</h4>
                           <p>
                               Welcome to the Company administration application! This tools allows Company administrators to add, remove, and edit employees.
                               This application also allows for the adding and removing of content management information.
                           </p>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>