<!DOCTYPE html>
<html ng-app="JpaApp" lang="en" ng-controller="RunController">
<head>
    <meta charset="UTF-8">
    <base href="/">
                            <!-- CSS stuff -->
    <link rel="stylesheet" href="/static/angular/public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/angular/public/lib/css/custom.css">

                            <!-- JS library scripts -->
    <script src="/static/angular/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/angular/public/lib/angular/angular.min.js"></script>
    <script src="/static/angular/public/lib/angular-messages/angular-messages.min.js"></script>
    <script src="/static/angular/public/lib/angular-resource/angular-resource.min.js"></script>
    <script src="/static/angular/public/lib/angular-route/angular-route.min.js"></script>
    <script src="/static/angular/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/angular/public/lib/angular-toArrayFilter/toArrayFilter.js"></script>
    <script src="/static/angular/public/lib/ui-bootstrap/ui-bootstrap-tpls-1.2.5.min.js"></script>

                            <!-- Application specific -->
    <script src="/static/angular/public/src/JpaApp.js"></script>

                            <!-- Controllers -->
    <script src="/static/angular/public/src/controller/RunController.js"></script>
    <script src="/static/angular/public/src/controller/WelcomeController.js"></script>
    <script src="/static/angular/public/src/controller/LoginController.js"></script>
    <script src="/static/angular/public/src/controller/EmployeeController.js"></script>
    <script src="/static/angular/public/src/controller/EditEmployeeController.js"></script>
    <script src="/static/angular/public/src/controller/AdminController.js"></script>
    <script src="/static/angular/public/src/controller/CacheController.js"></script>
    <script src="/static/angular/public/src/controller/HomeController.js"></script>
    <script src="/static/angular/public/src/controller/LogoutController.js"></script>
    <script src="/static/angular/public/src/controller/ModalController.js"></script>
    <script src="/static/angular/public/src/controller/EditAdminController.js"></script>
    <script src="/static/angular/public/src/controller/AddAdminController.js"></script>

                            <!-- Services -->
    <script src="/static/angular/public/src/service/AuthenticationService.js"></script>
    <script src="/static/angular/public/src/service/EmployeeService.js"></script>
    <script src="/static/angular/public/src/service/AdminService.js"></script>
    <script src="/static/angular/public/src/service/CacheService.js"></script>
    <script src="/static/angular/public/src/service/CmsService.js"></script>
    <script src="/static/angular/public/src/service/PagingService.js"></script>
</head>
<body>
<nav class="navbar navbar-default" ng-if="authenticated" class="ng-hide">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">Employee Administration</p>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/welcome">Welcome</a></li>
                <li><a href="/home">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employee Management<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/employeeListing">List all Employees</a></li>
                        <li><a href="/employeeAddition">Add new Employee</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Employee Search" ng-model="searchValue">
                </div>
                <button type="submit" ng-disabled="!searchValue" class="btn btn-default" ng-click="executeLookup(searchValue)">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/secureLogout" ng-click="executeLogout()">Logout</a></li>
                <li class="dropdown" ng-if="isAdmin">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adminListing">List all Admins</a></li>
                        <li><a href="/adminAddition">Add an admin</a></li>
                        <li><a href="/cacheClear">Clear System Cache</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-view>
</div>
</body>
</html>