<div align="center" ng-controller="LoginController">
    <br>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><b>Login</b></p>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="username" placeholder="Username">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="password" class="form-control" ng-model="password" placeholder="Password">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="button" ng-click="login()">Click to login</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-show="!loginSuccessful" class="ng-hide">
        <p>Login attempt failed - please try again</p>
    </div>
</div>
