<div class="col-md-8 col-md-offset-2" ng-controller="WelcomeController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" ng-show="isAdmin === true">
                <div class="col-sm-2" align="left">
                    <h5>Company Blog</h5>
                </div>
                <div class="col-sm-2 col-sm-offset-5" align="right">
                    <button type="button" class="btn btn-default" ng-click="openAddContent()">Admin: Add Content</button>
                </div>
                <div class="col-sm-3" align="right">
                    <div class="input-group">
                        <input type="text" ng-model="searchValue" class="form-control" placeholder="Search Blog...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="executeSearch()" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isAdmin === false">
                <div class="col-sm-2" align="left">
                    <h5>Company Blog</h5>
                </div>
                <div class="col-sm-3 col-sm-offset-7" align="right">
                    <div class="input-group">
                        <input type="text" ng-model="searchValue" class="form-control" placeholder="Search Blog...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="executeSearch()" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-body">
            <div ng-if="totalItems === 0" align="center">
                <h3>No CMS items have been published</h3>
            </div>
            <div ng-repeat="item in filteredItems">
                <div class="col-sm-12" ng-if="item.published && item.live || isAdmin">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h4>{{item.title}}</h4>
                                </div>
                                <div class="col-sm-1">
                                    <div ng-show="isAdmin === true">
                                        <button class="btn btn-default" ng-click="openAddContent(item)">Admin: click to edit item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>{{item.data}}</p>
                            <br>
                            <h5><span class="glyphicon glyphicon-time"></span> Posted by {{item.creator}} on {{getDateTime(item.created)}}  </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div align="right">
                <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="{{itemsPerPage}}" ng-change="pageChanged()"></uib-pagination>
            </div>
        </div>
    </div>
    <div>
        <script type="text/ng-template" id="add-cms-content.html">
            <div class="modal-header">
                <h3 class="modal-title">Add CMS content</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h5>Select a CMS item:</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8" align="left">
                        <div ng-repeat="display in theseTypes">
                            <input type="radio" name="type" ng-model="type" value="{{display.type}}" ng-selected="display.type === type"> {{display.type}} ({{display.description}})
                        </div>
                    </div>
                </div>
                <br>
                <div ng-show="type === 'welcome-story'">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" ng-model="title" maxlength="200" class="form-control" placeholder="Title" ng-change="updateMaxTitle()" ng-trim="false">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="color:gray;">Characters remaining: {{maxTitle}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea class="form-control" ng-model="data" cols="10" rows="10" ng-trim="false" ng-change="updateMaxContent()"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <p style="color:gray;">Characters remaining: {{maxData}}</p>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="live" ng-checked="live === true"/> Is this item live? </label>
                        <label><input type="checkbox" ng-model="published" ng-checked="published === true"/> Publish this item? </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-disabled="!validateNewContent()" ng-click="save()">Save</button>
                <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
    <div>
        <script  type="text/ng-template" id="edit-cms-content.html">
            <div class="modal-header">
                <h3 class="modal-title">Edit CMS item</h3>
            </div>
            <div class="modal-body">
                <p>great</p>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="itemIsLive" checked/> Is this item live? </label>
                    <label><input type="checkbox" ng-model="publishItem" checked/> Publish this item? </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="save()">Save</button>
                <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                <br>
            </div>
        </script>
    </div>
</div>